# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Google-drive\My-Laptop-npn8219\CodeGym\Module4\3.View-n-Thymeleaf\Thymeleaf-switch\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
